.first-camera{

    margin-left: 160px;
    margin-top: 160px;
    position: relative;

}
.second-camera{
  position: absolute;
  left: 0;
  right: 0;
  top:0px;
  margin-top: 130px;
  margin-left: 1050px;

}
.fa {
    color:#fa500f;
}
/* footer */
.bg{
    width: 100%;
    height: 25vh;
    background-color: #0A0826;

}